﻿@model GraniteHouseV2.Models.Product

@{
    ViewData["Title"] = "Delete Product";
}

<form method="post" asp-action="DeleteConfirmed">
    <input asp-for="ProductId" type="hidden" />
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-info pl-3">@ViewBag.Title</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Name"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Name" disabled class="form-control" />
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Description"></label>
                    </div>
                    <div class="col-8">
                        <textarea asp-for="Description" disabled class="form-control summernote"></textarea>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="ShortDesc"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="ShortDesc" disabled class="form-control" />
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Price"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Price" disabled class="form-control" />
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Category"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Category.Name" disabled class="form-control" />
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                            <input type="submit" class="btn btn-danger w-100" value="Delete" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-outline-info w-100"><i class="fas fa-chevron-circle-left"></i> &nbsp; Back</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                @if (Model.ProductId != 0)
                {
                    <img src="@AppConstants.ImagePath@Model.Image" class="w-100"
                         alt="image.jpg" style="border-radius: 5px; border: 1px solid #bbb" />
                }
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('.summernote').summernote({
                height: 250
            });
            $('.summernote').summernote("disable");
        });
    </script>
}

