﻿@model IEnumerable<GraniteHouseV2.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Product List</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="Product" asp-action="CreateEdit" class="btn btn-primary">
                <i class="fas fa-plus"></i>&nbsp; New Product
            </a>
        </div>
    </div>

    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width: 100%;">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Category</th>
                    <th>Application Type</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td width="20%">@item.Name</td>
                        <td width="35%">@Html.Raw(@item.Description)</td>
                        <td width="5%">@item.Price</td>
                        <td width="10%">@item.Category.Name</td>
                        <td width="15%">@item.ApplicationType.Name</td>
                        <td width="15%" class="text-center">
                            <div class="w-75 btn-group" role="group">
                                <a asp-controller="Product" asp-route-Id="@item.ProductId" asp-action="CreateEdit" class="btn btn-primary">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a asp-controller="Product" asp-route-Id="@item.ProductId" asp-action="Delete" class="btn btn-danger">
                                    <i class="far fa-trash-alt"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No product(s) found.</p>
    }
</div>

