﻿@model GraniteHouseV2.Models.Product

<div class="col-lg-4 col-md-6 pb-4 filter @Model.Category.Name.Replace(' ', '_')">
    <!-- Card -->
    <div class="card bg-white rounded shadow-sm" style="border:1px solid #222">
        <div class="card-body px-3 pt-3 pb-1 row">
            <div class="col-7"><label class="float-left">@Model.Name</label></div>
            <div class="col-5"><label class="float-right"><span class="text-info h5">@string.Format(new System.Globalization.CultureInfo("en-US"), "{0:c0}", @Model.Price)</span> /sqft</label></div>
            <img class="card-img-top img-fluid d-block mx-auto mb-3" src="@AppConstants.ImagePath@Model.Image" alt="Card image cap" />
            <div class="card-body p-1 px-3 row">
                <div class="col-6">
                    <span class="badge p-2 border w-100" style="background-color:lavenderblush">@Model.Category.Name</span>
                </div>
                <div class="col-6 border-0">
                    <span class="badge p-2 border w-100" style="background-color:aliceblue">@Model.ApplicationType.Name</span>
                </div>
                <div class="col-12 pt-2" style="font-size: 13px; text-align:justify">
                    <p>@Model.ShortDesc</p>
                </div>
                <div class="col-12 p-1">
                    <a asp-action="Details" asp-route-id="@Model.ProductId" class="btn btn-dark form-control btn-sm p-2" style="height:40px">View Details</a>
                </div>
            </div>
        </div>
    </div>
</div>